.tablecont,h3{
   background-image:url('th\ \(3\).jpg');
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 20px;
}
.tablecont,h3{
    -webkit-text-stroke:1px rgb(126, 4, 4);
}
.string{
    margin-right: 5px;
}