body{
  background-color: rgb(231, 224, 224);
  height:100%;
  width:100%;
  display: flex;
}
.content{
  display: flex;
  background-color: white;
  margin: 10px 60px 5px 200px;
  border: 1px solid rgb(86, 81, 81);
  width:900px;
  height:560px;
}

